################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Converter/obj
/.vs
/Converter.Base/obj
/Converter.DAL/obj
/Converter.Services/obj
/Converter.Services.Tests/obj
